<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/js-middleware</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <mapping class="br.com.middleware.dataaccess.entity.AddressEntity"/>
        <mapping class="br.com.middleware.dataaccess.entity.BankEntity"/>
        <mapping class="br.com.middleware.dataaccess.entity.CardEntity"/>
        <mapping class="br.com.middleware.dataaccess.entity.CityEntity"/>
        <mapping class="br.com.middleware.dataaccess.entity.CompanyEntity"/>
        <mapping class="br.com.middleware.dataaccess.entity.CountryEntity"/>
        <mapping class="br.com.middleware.dataaccess.entity.CustomerEntity"/>
        <mapping class="br.com.middleware.dataaccess.entity.LoginEntity"/>
        <mapping class="br.com.middleware.dataaccess.entity.LoginControlEntity"/>
        <mapping class="br.com.middleware.dataaccess.entity.PaymentEntity"/>
        <mapping class="br.com.middleware.dataaccess.entity.PaymentStatusEntity"/>
        <mapping class="br.com.middleware.dataaccess.entity.PhoneEntity"/>
        <mapping class="br.com.middleware.dataaccess.entity.StateEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>